a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.search-page {
    border-radius: 12px;
}

input.form-control {
    background: #EFF5F7;
    height: 60px;
}