.bx_profile {
    background: #433147;
    padding: 40px 60px;
    border-radius: 28px;
}

small#emailHelp {
    color: #b1aeb1 !important;
    font-size: small;
    line-height: inherit;
}

input.btn.btn-themes.btn-primary.btn-md.main-profile-submit {
    background: #ed535a;
    border: none;
    border-radius: 12px;
    font-weight: 800;
    text-transform: lowercase;
    padding: 5px 20px;
    transition: .2s ease-in-out;
}

input.btn.btn-themes.btn-primary.btn-md.main-profile-submit:hover {
    border-radius: 3px;
	opacity: .9;
	color: white !important;
}

input.btn.btn-themes.btn-link.btn-md {
    color: white;
    font-weight: 800;
    text-transform: lowercase;
}

input.btn.btn-themes.btn-link.btn-md:hover {
	opacity: .9;
	color: #ed535a !important;
}

input#main-profile-name, input#main-profile-last-name, input#main-profile-second-name, input#main-profile-email, input#main-profile-password, input#main-profile-password-confirm {
    background: #5f4662;
    color: white;
    font-weight: 400;
}

label.col-sm-4.col-md-3.col-form-label.main-profile-form-label {
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.bx_profile .main-profile-block-date-info { margin-bottom: 15px; }

.bx_profile .main-profile-form-password-annotation {
	margin-top: 15px;
	margin-bottom: 0;
	color: grey;
	font-weight: lighter;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.bx_profile .main-profile-social-block { margin-top: 40px; }

@media (max-width: 998px) {
.bx_profile {
    padding: 10px 30px;
    border-radius: 18px;
}
div#user_div_reg {
    margin-bottom: 15px;
}
}

